.rate{
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 30px;
}
.end{
    display: flex;
    flex-direction: row;
}
.end1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    font-size: 17px;
}
.starPeople{
    display: flex;
    flex-direction: row;
    align-self: flex-end;
}
.numstar{
    font-size: 12px;
    width: 30px;
    padding: 1px 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: rgb(55, 140, 40);
    border-radius: 4px;
    margin-right: 5px ;
}
.prHead{
    min-height: 110px;
    margin: 10px 0;
    padding: 20px;
    box-sizing: border-box;
    background-color: white;
    display: flex;
    flex-direction: column;
}
.prBody{
    min-height: 60vh;
    margin: 10px 0;
    padding: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
}
.productP{
    font-size: 20px;
    font-weight: 1000;
}
.prStars{
    margin: 20px;
    margin-left: 100px;
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.formRate{
    margin: 30px 0;
    width: 96vw;
    display: flex;
    flex-direction: column;
}
.txtinput1{
    height: 350px;
    padding: 20px;
    font-family: 'Roboto';
    border : 1px solid rgb(199, 199, 199);
    outline: none;
}
.txtinput2{
    height: 100px;
    padding: 20px;
    font-family: 'Roboto';
    border : 1px solid rgb(194, 194, 194);
    outline: none;
}
.formRate button{
    background-color: rgb(0, 149, 25);
    font-size: 16px;
    margin: 20px 0;
    width: 20vw;
    height: 4vw;
    border: none;
    color: white
}


.s{
    color: #ffe100;
    text-shadow: 0 0 1px black !important; 
}

/* #s1:hover{
    color: #ffe100 !important;
}
#s2:hover +#s3{
    color: #ffe100 !important;
}
#s2:hover{
    color: #ffe100 !important;
} */
/* .fa-solid .fa-star:hover{
    color: #ffe100 !important;
} */
/* .s1:hover{
    color: #ffe100;
    background-color: #ffe100 ;
    border: 1px solid red;
}
.s2:hover  .s3{
    color: #ffe100;
    background-color: #ffe100 ;
    border: 1px solid red !important;
}  */
.prStars p{
    min-width: 500px;
    font-size: 20px;
    margin-left: 20px;
    font-weight: 1000;
}