@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    width: 100vw;
    background-color: rgb(203, 242, 247);
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    width: 100%;
    height:100%;
    background-color: rgb(203, 242, 247);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 2vw;
}
h2{
    padding:2vw;
    font-size:4vw;
}
p{
    padding-left:3vw;
    color:red;
    font-size: 1vw;
}
form{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.n{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.n div{
    min-width: 4vw;
}
.gender{
    display: flex;
    flex-direction: row;
}
.sel{
    display: flex;
    flex-direction: row;
}
.card{
    width: 100%;
    background-color: white;
    padding:3vw;
    border-radius: 1vw ;
    margin: 1vw;
    box-sizing: border-box;
    box-shadow: 0 0 0.5vw rgba(95, 95, 95, 0.3);
}
.card:hover{
    box-shadow: 0 0 1vw rgba(95, 95, 95, 0.3);
}
.card .input1{
    margin-top: 2vw;
    border:none;
    font-size: 1.2vw;
    width: 97%;
    border-bottom: 0.1vw solid rgba(95, 95, 95,0.3);
    padding: 0.5vw 0.5vw;
}
.card .input1:focus{
    outline:none;
    border-color: rgb(0, 110, 255);
    border-width: 0.15vw;
    animation: brdanim 0.5s forwards 1;
}
@keyframes brdanim{
    0%{
        width: 0%;
    }
    100%{
        width: 97%;
    }
}
.btns{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.btn{
    border:none;
    color:white;
    background-color:  rgb(0, 110, 255);
    font-size: 1.5vw;
    border-radius: 0.6vw;
    width: 10vw;
    height: 3vw;
    margin:2vw 1vw;
    box-shadow: 0 0 0.5vw rgba(95, 95, 95, 0.3);
}
.btn:hover{
    box-shadow: 0 0 0.7vw rgba(95, 95, 95, 0.6),0 0 0.7vw rgba(95, 95, 95, 0.3) inset;
}
.card .input2{
    font-size: 1.2vw;
    width: 50%;
    height: 3vw;
    margin-left: 2%;
}