*{
    margin: 0;
    padding: 0;
}
td,table,th{
    /* border:1px solid black;
    border-collapse: collapse; */
    padding:0.2vw 0.4vw;
}
body{
    background:linear-gradient(to left top, #005b7f, rgba(1, 7, 54, 0.7));
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    color:white;
}
th,td{
    text-align: start;
}
.tab{
    background: #ffffff20;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    padding:1vw;
    margin:1vw;
}
.brd{
    width: 100%;
    border: 1px solid red;
}